---
layout: page
title: Geospatial Analysis with Vector Data

hide: true
---


<div class="home">

  <ul class="post-list">
    {% for post in site.posts reversed %}
    {% if post.topic == "Geospatial Analytics with Vector Data" %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        {% if post.thumbnail %}
        <img src="{{ site.baseurl }}/img/thumbnails/{{ post.thumbnail }}-thumb.png" class="post-thumb"/>
        {% endif %}
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p>{{ post.excerpt }}</p>
        <a href="{{ post.url | prepend: site.baseurl }}">Read more...</a>
      </li>
    {% endif %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>